<!-- templates/blog/_post_detail_content.html -->
<div class="content">
    <h2>{{ post.title }}</h2>
        <small> Tags:  </small>
        {% for tag in post.tags.all %}
            <small> {{ tag }}, </small>
        {% empty %}
            <small>Untagged.</small>
        {% endfor %}
    <section class="content">
        <p>{{ post.content }}</p>
        <small> Posted by {{ post.author }} on {{ post.published_date }}</small>
    </section>

    <h3>Comments</h3>
    <section class="content">
        {% for comment in comments %}
            <section class="content">
                <p>{{ comment.content }}</p>
                <small>By {{ comment.author }} on {{ comment.created_at }}</small>
                <a href="{% url 'edit_comment' comment.id %}">Edit Comment</a>
                <a href="{% url 'delete_comment' comment.id %}">Delete Comment</a>
            </section>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}
    </section>
</div>