<!-- templates/blog/post_detail.html -->
{% extends "blog/base.html" %}

{% block title %}Post Detail{% endblock %}

{% block content %}
    <div class="content">

        {% include "blog/_post_detail_content.html" %}

        {% if user.is_authenticated %}
            <a href="{% url 'add_comment' post.id%}"> Add a comment</a>
        {% else %}
            <a href="{% url 'login' %}">Please Login to Comment</a>
        {% endif %}       
            <a href="{% url 'posts'%}"> Back to all blog posts</a>

    </div>
{% endblock %}
