<!-- templates/blog/post_form.html -->
{% extends "blog/base.html" %}

{% block title %}Create Post{% endblock %}

{% block content %}
    <div class="content">
        
        <section class="content">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit"> Create Post </button>
            </form>
        </section>

        <section class="content">
            <a href="{% url 'posts'%}"> Back to all blog posts </a>
        </section>
    </div>
{% endblock %}